# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = linkbot.settings
application = scrapy_heroku.app.application

[deploy]
#url = http://localhost:6800/
url = scrapyd.herokuapp.com
project = linkbot
username = test
password = test